*.class
*.log

*__pycache__*
model_prep/model_eval/outputs/*
model_prep/models/*
model_prep/datasets/*
model_prep/tmp/*

hardware_test/images.h

*.pt
aegean
argo
compiler-rt
gold
llvm
local
misc
newlib
poseidon
simulator